#topInterface {
  padding: 40px 0 0 0;
  border: solid whitesmoke;
  border-width: 2px 0;
  border-top: none;
  background: coral;
  .container {
    background: white;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #d3d1d1;
    margin-bottom: -1px;
    border-bottom: none;
    border-top-left-radius: 20px;
    padding-bottom: 25px;
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.2);
  }
  #name {
    font-size: 24px;
    font-weight: bold;
    color: rgb(240, 149, 46);
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #email {
    font-size: 12px;
    color: rgb(165, 165, 165);
    font-style: italic;
  }
  #teacher {
    margin: 5px 0 0 0;
    font-size: 14px;
    font-style: italic;
    span {
      margin-left: 5px;
      font-style: normal;
    }
  }
  #school {
    font-size: 14px;
    font-style: italic;
    span {
      font-style: normal;
      white-space: pre;
      margin-left: 5px;
    }
  }

  #completed-info {
    margin: 5px 0;
    * {
      vertical-align: middle;
    }
    span {
      margin-right: 10px;
    }
    img {
      width: 24px;
      height: 24px;
    }
    font-size: 16px;
  }
  #completed-stars {
    * {
      vertical-align: middle;
    }
    span {
      margin-right: 10px;
    }
    img {
      width: 24px;
      height: 24px;
    }
    font-size: 16px;
  }

  #not-completed {
    * {
      vertical-align: middle;
    }
    span {
      margin-right: 10px;
    }
    img {
      width: 24px;
      height: 24px;
    }
    font-size: 16px;
    font-weight: bold;
  }

  .avatar {
    max-height: 100px;
    width: 100px;
    min-height: 50px;
    border: white solid 0.2rem;
  }
}
