#tabContainer {
  .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #212529;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 50px 20px 50px;
  }
  .nav-link:not(.active):hover {
    background-color: rgba(255, 166, 0, 0.1);
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-link.active {
    background-color: rgb(255, 174, 0);
    border-color: transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
  }
}
