@import "../variables";

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

#mainNav {
  background-color: #212529;
  padding: 7px 9px 8px 9px;

  .logo {
    height: 40px;
    margin-top: -11px;
  }

  .navbar-brand {
    color: color(navbarb-s-fc);
    font-size: 21px;
    padding-bottom: 0px;
    font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    @include desktop {
      font-size: 1.77em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: color(navbarb-l-fc);
      padding: 10px;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: color(navbaractive-fc);

      @include desktop {
        color: #f19483;
      }
    }
  }

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 9px;
    text-transform: uppercase;
    color: color(navbart-fc);
    border: 0;
    background-color: color(navbart-bc);
  }

  /* navbar link */
  .nav-link {
    letter-spacing: 1px;
    font-size: 12px;
    color: color(navbar-fc);

    @include desktop {
      padding: 1.1em 1em !important;
      font-size: 14px;
      font-weight: 500;
      color: #fafff1;
    }

    &.active,
    &:hover {
      color: color(navbaractive-fc);
    }
  }

  @include desktop {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;

    &.nav-transparent {
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: transparent;
    }

    .ls {
      font-family: "Gloria Hallelujah", cursive;
      color: color(primary);
    }

    .logInbtn {
      margin-left: 1rem;
    }

    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
