@import "../../variables.scss";

main {
  @include desktop {
    display: grid;
    // grid-template-columns: 50% auto;
    /* grid-template-areas: "primary card"; */
  }

  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  section#about {
    border-top: 0.7rem solid color(primary);
    background: url("../../../images/about/5.png") black repeat center center
      scroll;
    text-align: center;
    padding: 7rem 0rem 3rem 0rem;

    .discription-text {
      padding: 2rem;

      @include desktop {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #64a19d;
      }
    }
  }

  section#mission {
    background-color: #17a2b8;
    text-align: center;
    padding: 4rem 0rem 3rem 0rem;

    .discription-text {
      padding: 2rem;
      color: white;

      h2 {
        color: #fee13d;
      }

      @include desktop {
        padding: 0 2 0 0rem;
        border-right: 0.4rem solid #fecb3d;
      }
    }
  }

  section#team {
    background: url("../../../images/team/twinkle-twinkle.png") #bec23f repeat
      center center scroll;
    padding: 2rem 7.4rem;

    h1 {
      color: #3e4015;
      margin-bottom: 2.7rem;
      font-size: 47px;
      // text-shadow: 2px 2px 4px gray;
      font-family: "Libre Barcode 39 Text", cursive;
    }

    h4 {
      color: #3e4015;
    }

    p {
      color: #7d7f29;
    }
    .team-icon {
      background: url("../../../images/team/poke.gif") white center;
      background-size: cover;
      color: color(primary);
      height: 7rem;
      width: 7rem;
      display: block;
      line-height: 7.5rem;
      font-size: 2.25rem;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0.2, 0.1);
    }
  }
}
