#threadParent {
}
.postUserInfo {
  width: 150px;
  text-align: center;
}
.postUserInfo img {
  width: 50px;
}
.postUserInfo .name {
  padding: 8px 0;
  font-weight: bold;
}
.postUserInfo .date {
  font-size: 12px;
}
.thread-post {
  margin: 30px 0;
  border-radius: 0px;
  min-height: 200px;
}

#postTitle {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
#threadParent {
  border-color: orange;
}
