#article-header {
  background-color: lightcyan;
  img {
    max-height: 200px;
    max-width: 100%;
  }
}

#article-title {
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  text-align: justify;
  text-justify: inter-word;
  a {
    text-decoration: underline;
  }
}

#next-button {
  margin-top: 0.2rem;
  font-size: 20px;
  float: right;
  padding: 0.2rem 4rem;
}

#content {
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

#author {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  background: no-repeat center center;
  position: relative;
}
