

.video-course{
       margin: 0 auto;
       margin-top: 3.2rem;
       max-width: 700px;
       width: 70%;
       height: 50%;

    }
    .video-text{
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 1.2rem;
        box-sizing: border-box;
        padding: 0rem 1.2rem;
    }
    .video-text h3{
        font-size: 1.5rem;
        color: #000;
    }
    .video-text p{
        font-size: 1.2rem;
        color: #999;
        line-height: 1.5rem;
        width:100%;
    }
    .video-text h3 span{
        color: white;
        display: block;
        float: left;
        width: 80%;
    }
    .video-text h3 button{
        display: block;
        float: right;
        width: 20%;
        max-width: 120px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        border: 0;
    }

#course-page{
    background-color: #000;
    #mainNav{
        span{
            color: white;
        }

        a{
            color: white;
        }
    }
}