/* Variables */
$colors: (
  navbar-bc: #031025,
  navbar-fc: #feba3d,
  navbarb-s-fc: orange,
  navbarb-l-fc: white,
  navbaractive-fc: #f19483,
  bottom-fc: white,
  bottom-bc: white,
  navbart-bc: #feba3d,
  navbart-fc: white,
  primary: #f4c320
);

$padding: 15px;
$border: 15px;

$desktop: 992px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
/* Function */
@function color($color-name) {
  @return map-get($colors, $color-name);
}
