@import "../dashboard/dashboard.scss";

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


#mainNav {
  @media (max-width: 1013px) {
    background-color: #212529;
    .navbar-brand{
      color: orange;
    }

    .nav-link{
      color:#feba3d;
    }
    
  }
}

header.masthead {
    // TIP: Background images are set within the HTML using inline CSS!
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    
    
    @include background-cover;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #212529;
      opacity: 0.5;
    }


    .post-heading {
        padding: 200px 0 150px;
        color: white;
        @media only screen and (min-width: 768px) {
          padding: 200px 0;
        }
      h1 {
        font-size: 35px;
      }
      .meta,
      .subheading {
        line-height: 1.1;
        display: block;
      }
      .subheading {
        font-size: 24px;
        font-weight: 600;
        margin: 10px 0 30px;
      }
      .meta {
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        a {
          color:  #fff ;
        }
      }
      @media only screen and (min-width: 768px) {
        h1 {
          font-size: 55px;
        }
        .subheading {
          font-size: 30px;
        }
      }
    }
  }

  blockquote {
    font-style: italic;
    color: #868e96;
  }
  
  .section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
  }

  p {
    line-height: 1.5;
    margin: 30px 0;
    text-align: justify;
    text-justify: inter-word;
    a {
      text-decoration: underline;
    }
  }

  #next-btn{
    margin-top: 0.2rem;
    font-size: 20px;
    float: right;
    padding: 0.2rem 4rem;
  }