#add-thread {
  margin: 20px 0 20px 0;
  border-radius: 0px;
}

#quiz-correct {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 5px;
  background-color: green;
}

#vidpop {
  margin-top: -450px;
}

#question {
  font-size: 38px;
  color: #ff7e28;
  margin-bottom: -50px;
}

#quizcontent {
  text-align: center;
  margin-bottom: -50px;
}
